<link rel="stylesheet" href="css/footer.css">
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />


<footer>
    <div class="container">
        <div class="footer-content">

            <% about.forEach((abt)=>{ %>

                <div class="first-links">
                    <a href="#">- Home</a>
                    <a href="#projects">- Projects</a>
                    <a href="#cv">- CV</a>
                    <a href="#about">- About</a>
                    <a href="#contact">- Contact</a>
                </div>

                <div class="contact-links">

                    <a target="_blank" href="<%= abt.socialLinks.instagram.urlAddress %>"><i class="fab fa-instagram"></i></a>
                    <a target="_blank" href="<%= abt.socialLinks.linkdin.urlAddress %>"><i class="fab fa-linkedin-in"></i></a>
                    <a target="_blank" href="<%= abt.socialLinks.twitter.urlAddress %>"><i class="fab fa-twitter"></i></a>
                    <a href="" class="number"><i class="fas fa-phone-alt"></i> +355 67 713 7590</a>

                </div>
                <div class="subscription-box">
                    <form action="/home" method="POST">
                        <h3>Subscibe to us so you get the latest updates!!</h3>
                        <input style="width: 100%;" type="email" name="email" placeholder="Email">
                        <button type="submit" class="btn-submit">Subscribe</button>
                    </form>
                </div>
                <%}) %>

        </div>
    </div>
</footer>