<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Beker Developer |
        <%= title %>
    </title>
    <link rel="stylesheet" href="css/admin.css">
</head>

<body>
    <!-- Page Title -->
    <nav class="nav">
        <div class="container">
            <div class="nav-content">
                <div class="nav-Brand">
                    <h1>
                        <%%= ADMIN PAGE %>
                    </h1>
                </div>
            </div>
        </div>
    </nav>
    <a href="/home" class="btn-submit btn-goBack">Go back</a>

    <!-- Management dashboard -->
    <section class="project-Dashboard">
        <div class="container">
            <div class="pd-content">

                <h1 class="section-title">Projects Dashboard</h1>

                <div class="edit-btn">
                    <a href="" class="btn-submit">Edit</a>
                </div>

                <div class="content">
                    <!-- projects -->
                    <div class="project border">
                        <div class="photo">
                            <img src="img/project-1.jpg" alt="">
                        </div>
                        <div class="box">
                            <h4 class="project-title">Alha website</h4>
                            <p class="slogan">Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi tempora libero odio impedit sequi.</p>
                        </div>
                    </div>

                    <div class="project border">
                        <div class="photo">
                            <img src="img/project-2.jpg" alt="">
                        </div>
                        <div class="box">
                            <h4 class="project-title">Alha website</h4>
                            <p class="slogan">Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi tempora libero odio impedit sequi.</p>
                        </div>
                    </div>

                    <div class="project border">
                        <div class="photo">
                            <img src="img/project-3.jpg" alt="">
                        </div>
                        <div class="box">
                            <h4 class="project-title">Alha website</h4>
                            <p class="slogan">Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi tempora libero odio impedit sequi.</p>
                        </div>
                    </div>

                    <div class="project">
                        <div class="photo">
                            <img src="img/project-4.jpg" alt="">
                        </div>
                        <div class="box">
                            <h4 class="project-title">Alha website</h4>
                            <p class="slogan">Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi tempora libero odio impedit sequi.</p>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </section>

    <!-- cv -->

    <section class="cv-Dashboard diff-section-color">
        <div class="container">
            <div class="cvd-content">

                <h1 class="section-title">CV Dashboard</h1>

                <div class="edit-btn">
                    <a href="" class="btn-submit">Edit</a>
                </div>

                <div class="row-one">

                    <div class="profile border">
                        <h2>Profile</h2>
                        <div class="item">
                            <img src="img/ebubeker.jpg" alt="" class="paddingRight">
                            <p>Profile Picture</p>
                        </div>
                        <div class="item">
                            <h4 class="paddingRight">Introduction</h4>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium, tempore ipsam? Aut, rem? Veniam minus libero, consectetur amet est vero iusto perspiciatis voluptatem nulla animi, dolore modi, quos natus atque doloribus
                                consequatur deserunt sit quaerat reiciendis deleniti possimus eius nobis? Consectetur labore non aut corrupti explicabo illum adipisci atque impedit, quae, doloribus officia! Suscipit veniam inventore provident cumque sit
                                dolores eius velit, dolorum assumenda quis minima commodi corrupti dignissimos magni atque quod accusamus porro? Reiciendis sit ut, earum dolor ipsum non eos ratione? Quam quas consectetur dolore animi fuga, vero eveniet?
                                Vero facere veniam rerum officia dolor ad, soluta beatae eaque. Porro, excepturi dignissimos a sint quaerat officiis magni, cumque quae quisquam nemo minus delectus ratione nesciunt asperiores ut alias. Repellendus facilis
                                reiciendis eaque nam est. In maiores ex vitae delectus eligendi excepturi nulla perferendis veritatis neque quo perspiciatis esse numquam minima architecto quia, cum autem animi reiciendis sed quod. Ex saepe esse, veritatis
                                debitis distinctio est unde assumenda? Accusantium rerum voluptates quibusdam culpa labore similique unde earum dignissimos fugiat porro nobis, eaque iure consequuntur doloremque beatae facilis facere? Enim mollitia reprehenderit
                                dolorum, repudiandae error aliquid sequi quo eos animi minima debitis corrupti alias delectus cumque cum omnis necessitatibus repellat.</p>
                        </div>
                    </div>
                    <div class="prglanguages border">
                        <h2>Languages</h2>

                        <div class="item">
                            <h4 class="paddingRight">HTML5</h4>
                            <p>Value 70%</p>
                        </div>
                        <div class="item">
                            <h4 class="paddingRight">CSS3</h4>
                            <p>Value 70%</p>
                        </div>
                        <div class="item">
                            <h4 class="paddingRight">JavaScript</h4>
                            <p>Value 70%</p>
                        </div>
                        <div class="item">
                            <h4 class="paddingRight">C++</h4>
                            <p>Value 70%</p>
                        </div>
                        <div class="item">
                            <h4 class="paddingRight">Reaxt JS</h4>
                            <p>Value 70%</p>
                        </div>
                        <div class="item">
                            <h4 class="paddingRight">Node JS/Express JS</h4>
                            <p>Value 70%</p>
                        </div>
                    </div>
                    <div class="education">
                        <h2>Education</h2>

                        <div class="item">
                            <h4 class="paddingRight">High School</h4>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo sit recusandae tempora quibusdam. Quas neque cum fugiat magni officiis at perspiciatis voluptatem! Perferendis eaque a ratione molestias sapiente vitae rem!</p>
                        </div>
                    </div>

                </div>

                <div class="row-two">
                    <div class="experience border">
                        <h2>Experience</h2>
                        <div class="item">
                            <h4 class="paddingRight">ALHA website</h4>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis dolores sed nulla ipsam dolore suscipit.</p>
                        </div>
                        <div class="item">
                            <h4 class="paddingRight">Collaboration assistent start up</h4>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis dolores sed nulla ipsam dolore suscipit.</p>
                        </div>

                    </div>
                    <div class="awards border">
                        <h2>Awards</h2>

                        <div class="item">
                            <h4 class="paddingRight">HTML5</h4>
                            <p>Value 70%</p>
                        </div>
                        <div class="item">
                            <h4 class="paddingRight">CSS3</h4>
                            <p>Value 70%</p>
                        </div>
                        <div class="item">
                            <h4 class="paddingRight">JavaScript</h4>
                            <p>Value 70%</p>
                        </div>
                        <div class="item">
                            <h4 class="paddingRight">C++</h4>
                            <p>Value 70%</p>
                        </div>
                        <div class="item">
                            <h4 class="paddingRight">Reaxt JS</h4>
                            <p>Value 70%</p>
                        </div>
                        <div class="item">
                            <h4 class="paddingRight">Node JS/Express JS</h4>
                            <p>Value 70%</p>
                        </div>
                    </div>
                    <div class="skills">
                        <h2>Skills</h2>

                        <div class="item">
                            <h4 class="paddingRight">High School</h4>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo sit recusandae tempora quibusdam. Quas neque cum fugiat magni officiis at perspiciatis voluptatem! Perferendis eaque a ratione molestias sapiente vitae rem!</p>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </section>

    <!-- about me, and social media -->

    <section class="about-Dashboard">
        <div class="container">
            <div class="ad-content">

                <h1 class="section-title">Projects Dashboard</h1>

                <div class="edit-btn">
                    <a href="" class="btn-submit">Edit</a>
                </div>

                <div class="content">
                    <!-- projects -->
                    <div class="my-history border">
                        <h2>About</h2>
                        <div class="item">
                            <h3>My history</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad odio cumque nam laudantium, at rerum nisi provident voluptates delectus voluptas quo molestias inventore eaque ipsum. Quasi obcaecati earum harum aperiam veniam totam
                                sequi facilis officiis autem nulla ea illum itaque ipsa animi, cum tempora necessitatibus! Magnam magni deserunt commodi repellat.</p>
                        </div>
                    </div>

                    <div class="social-media-links">
                        <h2>Social Media</h2>
                        <div class="item">
                            <h3>Instagram</h3>
                            <p>@bekerdeveloper | https.instagram.com</p>
                        </div>
                        <div class="item">
                            <h3>Linkdin</h3>
                            <p>@bekerdeveloper | https.instagram.com</p>
                        </div>
                        <div class="item">
                            <h3>Twitter</h3>
                            <p>@bekerdeveloper | https.instagram.com</p>
                        </div>
                        <div class="item">
                            <h3>Number</h3>
                            <p>@bekerdeveloper | https.instagram.com</p>
                        </div>

                    </div>

                </div>

            </div>
        </div>
    </section>

    <%- include('./partials/footer.ejs') %>

</body>

</html>