<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Beker Developer |
        <%= title %>
    </title>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link rel="stylesheet" href="css/style.css">
</head>

<body>

    <div class="loader">
        <div class="side-left">
            <div class="loader-one-up"></div>
        </div>
        <div class="side-right">
            <div class="loader-two-up"></div>
        </div>
        <h1 class="loadingText">
            <%% ... %>
        </h1>
    </div>

    <div class="loaderBelow">
        <div class="side-left">
            <div class="loader-one-down"></div>
        </div>
        <div class="side-right">
            <div class="loader-two-down"></div>
        </div>
    </div>

    <nav class="nav">
        <div class="container">
            <div class="nav-content">
                <div class="nav-Brand">
                    <h1>
                        <%%= BEKER DEV %>
                    </h1>
                </div>
                <div class="menu-content">
                    <ul class="menu">
                        <li><a href="#"><span>home( );</span></a></li>
                        <li><a href="#projects"><span>projects( );</span></a></li>
                        <li><a href="#cv"><span>curriculumVitae( );</span></a></li>
                        <li><a href="#about"><span>aboutMe( );</span></a></li>
                        <li><a href="#"><span>contactMe( );</span></a></li>
                    </ul>
                    <i class="fas fa-bars" id='responsiveButton' onclick="toggleDropDown()"></i>
                </div>
            </div>

        </div>
        <div class="nav-dropdown getDown">
            <ul class="dropdown-menu">
                <li><a href="#"><span>home( );</span></a></li>
                <li><a href="#projects"><span>projects( );</span></a></li>
                <li><a href="#cv"><span>curriculumVitae( );</span></a></li>
                <li><a href="#about"><span>aboutMe( );</span></a></li>
                <li><a href="#"><span>contactMe( );</span></a></li>
            </ul>
        </div>
        <div class="blueStuff getDownBlue">

        </div>
    </nav>

    <!-- Hero -->

    <section class="introWeb">
        <div class="container">
            <div class="introWeb-content">
                <div class="introduction">
                    <div class="introtext">
                        <h1 class="" id="first-writing">I'm Ebubeker Rexha</h1>
                        <h1 class="" id="second-writing">and I'm a full stack developer</h1>
                    </div>
                </div>
                <div class=" image ">
                    <img src="img/office.jpg " alt=" ">

                </div>
            </div>
        </div>
    </section>

    <!-- Projects -->

    <section class="projects diff-section-color" id="projects">
        <div class="container">
            <div class="project-content">
                <h1 class="section-title">Projects</h1>
                <div class="card">
                    <div class="project-card" id="one">
                        <div class="project-card-content">
                            <h1>ALHA Affiliate Marketing Business</h1>
                            <p class="slogan">A smile is more precious than anything in the world. <br> Make sure to smile with us, it is what we want, you to smile!</p>
                            <a href="https://alha0.herokuapp.com/blogs" target="_blank" class="btn-project">View Demo Project</a>
                        </div>
                    </div>
                </div>

                <div class="card-2">
                    <div class="project-card" id="two">
                        <div class="project-card-content">
                            <h1>Lorem, ipsum dolor.</h1>
                            <p class="slogan">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem, nostrum?</p>
                            <a href="" target="_blank" class="btn-project">View Demo Project</a>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="project-card" id="three">
                        <div class="project-card-content">
                            <h1>Lorem ipsum dolor sit.</h1>
                            <p class="slogan">Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis sapiente iusto labore voluptatem fugit!</p>
                            <a href="" target="_blank" class="btn-project">View Demo Project</a>
                        </div>
                    </div>
                </div>

                <div class="card-2">
                    <div class="project-card" id="four">
                        <div class="project-card-content">
                            <h1>Lorem, amet voluptatem.</h1>
                            <p class="slogan">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquam, tempora quis?</p>
                            <a href="" target="_blank" class="btn-project">View Demo Project</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- CV -->

    <section class="cv" id="cv">
        <div class="container">
            <div class="cv-content">
                <h1 class="section-title">Curriculum Vitae</h1>
                <div class="row-zero">
                    <div class="photo">
                        <h2>Ebubeker Rexha</h2>
                        <img src="/img/ebubeker.jpg" alt="">
                    </div>
                    <div class="description">
                        <h2>Small Introduction</h2>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quisquam est rerum aperiam et nemo harum blanditiis vitae libero voluptatem, sed architecto atque ratione expedita provident cumque dolor exercitationem qui autem nesciunt
                            ad. Quae perspiciatis et voluptatibus! Aliquid, ab aut debitis non tempora molestias molestiae modi porro est voluptate veritatis blanditiis facere quis corporis fuga, exercitationem quae aspernatur laborum eaque soluta hic
                            libero. Provident aliquam aut in, eaque nesciunt amet similique distinctio blanditiis possimus odit, soluta officia saepe, quod quidem voluptatum totam veritatis aperiam odio recusandae? Animi ea, non quas asperiores, laudantium
                            ipsum ullam ratione nobis, sapiente cupiditate eligendi ex doloremque?
                            <br>
                            <br>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quisquam est rerum aperiam et nemo harum blanditiis vitae libero voluptatem, sed architecto atque ratione expedita provident cumque dolor exercitationem qui autem
                            nesciunt ad. Quae perspiciatis et voluptatibus! Aliquid, ab aut debitis non tempora molestias molestiae modi porro est voluptate veritatis blanditiis facere quis corporis fuga, exercitationem quae aspernatur laborum eaque soluta.</p>
                    </div>
                </div>
                <div class="row-one">
                    <div class="languageKnowledge">
                        <p class="cv-part">Language</p>
                        <hr>
                        <div class="language">
                            <h4>HTML</h4>
                            <progress max="100" value="95"></progress>
                        </div>
                        <div class="language">
                            <h4>CSS3</h4>
                            <progress max="100" value="55"></progress>
                        </div>
                        <div class="language">
                            <h4>JavaScript</h4>
                            <progress max="100" value="60"></progress>
                        </div>
                        <div class="language">
                            <h4>C++</h4>
                            <progress max="100" value="40"></progress>
                        </div>
                        <div class="language">
                            <h4>React JS</h4>
                            <progress max="100" value="30"></progress>
                        </div>
                        <div class="language">
                            <h4>Node JS / Express JS</h4>
                            <progress max="100" value="35"></progress>
                        </div>
                    </div>
                    <div class="education">
                        <p class="cv-part">Education</p>
                        <hr>
                        <h3>High School</h3>
                        <p style="color: rgb(109, 109, 109);"><em>Medreseja Haxhi Sheh Shamia (2019-2022)</em></p>
                        <br>
                        <p>I am finishing high school at Madrasa Haxhi Sheh Shamia and I will be graduating by july 2022. Till now I have gotten some great grades especially in IT. After high school I will attend Computer Science in university.</p>
                    </div>
                </div>
                <div class="row-two">
                    <div class="experience">
                        <p class="cv-part">Experience</p>
                        <hr>
                        <div class="single-experience">

                            <h3>ALHA website ----</h3>
                            <p><em>Affiliate marketing project with backend 2021-current</em></p>
                            <br>
                            <p>This website will be an affiliate product promotion website and it also includes a bloging section. The backend is done through Node.js and Express.js</p>
                        </div>
                        <div class="single-experience">
                            <h3>Collaboration assistent start up ----</h3>
                            <p><em>A project that I will start to work in a bit later this year</em></p>
                            <br>
                            <p>This is a startup website which will have a ton of work, and a lot of effort will be put into bots too.</p>
                        </div>

                    </div>
                </div>
                <div class="row-one">
                    <div class="awards">
                        <p class="cv-part">Awards</p>
                        <hr>
                        <h4>- First place in the Regional IT Olympiad (C++ Language)</h4>
                        <h4>- Socila Media Marketing certificate (2020)</h4>
                    </div>
                    <div class="skills">
                        <p class="cv-part">Skills</p>
                        <hr>
                        <h4>- Front End Developer</h4>
                        <h4>- Back End Developer</h4>
                        <h4>- Photoshop</h4>
                        <h4>- Figma</h4>
                        <h4>- Social Media Management</h4>
                        <h4>- Social Media Growth</h4>
                        <h4>- Social Media Marketing</h4>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- About -->

    <section class="about diff-section-color" id="about">
        <div class="container">
            <div class="about-content">
                <h1 class="section-title">About Me</h1>
                <div class="part-one">
                    <div class="rounded-photo">
                        <img src="/img/ebubeker.jpg" alt="">
                    </div>
                    <div class="history">
                        <h4>My History</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab in excepturi, consequatur ducimus temporibus quo quae, ratione debitis eveniet deleniti nisi eos tempora! Voluptates provident deleniti quam esse voluptatum dignissimos
                            aperiam doloribus placeat eos culpa animi repudiandae consequatur, quis hic autem laborum, corrupti perspiciatis vero nisi qui? Vero amet ratione commodi labore odit, voluptatum aspernatur ab ipsam architecto enim consectetur
                            placeat eius inventore incidunt deserunt ullam, eos quisquam rerum! Unde harum libero magnam consequuntur, modi voluptatum consequatur temporibus velit iusto perferendis nihil reprehenderit nisi quas necessitatibus maiores,
                            assumenda atque quidem, tempore doloremque possimus sequi. Minima recusandae ullam obcaecati suscipit velit. <br> <br> Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere fuga magni quia atque unde excepturi minima,
                            nemo soluta mollitia ipsum quos illum natus placeat at cupiditate voluptates ullam inventore tempora. Sint debitis commodi tempore animi obcaecati tempora ut nesciunt beatae totam nulla eveniet possimus quidem, facilis assumenda
                            aliquam aliquid labore laborum dolorem perferendis rerum magnam, distinctio maxime nisi? Similique a quam reiciendis ducimus nam aliquam voluptas fuga laboriosam at consectetur, iure ex officia beatae est tempore? Reiciendis
                            voluptatum, dolorem natus, magnam totam eligendi blanditiis, hic ducimus maiores veritatis voluptatibus. Placeat amet esse nisi possimus harum iure reiciendis assumenda tenetur eum explicabo, libero sed aperiam exercitationem
                            quo iste beatae adipisci atque ea et nemo facilis est repellat porro! Illo velit earum reiciendis perferendis illum eveniet adipisci sunt, dignissimos dicta impedit sit quae quod maxime vitae quas, beatae aspernatur nesciunt
                            vero fugit? Impedit quidem excepturi perspiciatis laborum voluptates iste, voluptate ea soluta obcaecati neque saepe atque maiores laboriosam, delectus, officiis est tempora voluptatem consequatur suscipit quis ipsum nihil!
                            Vitae perspiciatis voluptates reiciendis iure soluta incidunt, minima necessitatibus asperiores laboriosam eum dolores rem atque ad officia voluptatum commodi. Fuga eveniet, hic voluptates, autem mollitia aperiam eum, veniam
                            quis accusantium libero ipsam necessitatibus id.</p>
                    </div>
                </div>

                <div class="part-two">
                    <div class="provide">
                        <img src="img/project-1.jpg" alt="" class="roundedImage">
                        <div class="box">
                            <h4>Quality</h4>
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Necessitatibus, ea! Necessitatibus eveniet asperiores ab eaque molestiae minus voluptas repudiandae quaerat consectetur mollitia, adipisci nemo debitis porro?</p>
                        </div>
                    </div>

                    <div class="provide">
                        <img src="img/project-2.jpg" alt="" class="roundedImage">
                        <div class="box">
                            <h4>Beautiful Design</h4>
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Necessitatibus, ea! Necessitatibus eveniet asperiores ab eaque molestiae minus voluptas repudiandae quaerat consectetur mollitia, adipisci nemo debitis porro?</p>
                        </div>
                    </div>

                    <div class="provide">
                        <img src="img/project-3.jpg" alt="" class="roundedImage">
                        <div class="box">
                            <h4>Speed</h4>
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Necessitatibus, ea! Necessitatibus eveniet asperiores ab eaque molestiae minus voluptas repudiandae quaerat consectetur mollitia, adipisci nemo debitis porro?</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script src="js/main.js "></script>
    <script src="js/writing.js "></script>

</body>

</html>