<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Beker Developer |
        <%= title %>
    </title>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link rel="stylesheet" href="css/style.css">
</head>

<body>

    <div class="loader">
        <div class="side-left">
            <div class="loader-one-up"></div>
        </div>
        <div class="side-right">
            <div class="loader-two-up"></div>
        </div>
        <h1 class="loadingText">
            <%% ... %>
        </h1>
    </div>

    <div class="loaderBelow">
        <div class="side-left">
            <div class="loader-one-down"></div>
        </div>
        <div class="side-right">
            <div class="loader-two-down"></div>
        </div>
    </div>

    <nav class="nav">
        <div class="container">
            <div class="nav-content">
                <div class="nav-Brand">
                    <h1>
                        <%%= BEKER DEV %>
                    </h1>
                </div>
                <div class="menu-content">
                    <ul class="menu">
                        <li><a href="#"><span>home( );</span></a></li>
                        <li><a href="#projects"><span>projects( );</span></a></li>
                        <li><a href="#cv"><span>curriculumVitae( );</span></a></li>
                        <li><a href="#"><span>aboutMe( );</span></a></li>
                        <li><a href="#"><span>contactMe( );</span></a></li>
                    </ul>
                    <i class="fas fa-bars" id='responsiveButton' onclick="toggleDropDown()"></i>
                </div>
            </div>

        </div>
        <div class="nav-dropdown getDown">
            <ul class="dropdown-menu">
                <li><a href="#"><span>home( );</span></a></li>
                <li><a href="#projects"><span>projects( );</span></a></li>
                <li><a href="#cv"><span>curriculumVitae( );</span></a></li>
                <li><a href="#"><span>aboutMe( );</span></a></li>
                <li><a href="#"><span>contactMe( );</span></a></li>
            </ul>
        </div>
        <div class="blueStuff getDownBlue">

        </div>
    </nav>

    <section class="introWeb">
        <div class="container">
            <div class="introWeb-content">
                <div class="introduction">
                    <div class="introtext">
                        <h1 class="" id="first-writing">I'm Ebubeker Rexha</h1>
                        <h1 class="" id="second-writing">and I'm a full stack developer</h1>
                    </div>
                </div>
                <div class=" image ">
                    <img src="img/office.jpg " alt=" ">

                </div>
            </div>
        </div>
    </section>

    <section class="projects diff-section-color" id="projects">
        <div class="container">
            <div class="project-content">
                <h1 class="section-title">Projects</h1>
                <hr>
                <div class="card">
                    <div class="project-card" id="one">
                        <div class="project-card-content">
                            <h1>- Project One -</h1>
                            <p class="slogan">We are the leader in furniture</p>
                            <a href="" class="btn-project">View Project</a>
                        </div>
                    </div>
                </div>

                <div class="card-2">
                    <div class="project-card" id="two">
                        <div class="project-card-content">
                            <h1>Project Two</h1>
                            <p class="slogan">We are the leader in furniture</p>
                            <a href="" class="btn-project">View Project</a>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="project-card" id="three">
                        <div class="project-card-content">
                            <h1>Project One</h1>
                            <p class="slogan">We are the leader in furniture</p>
                            <a href="" class="btn-project">View Project</a>
                        </div>
                    </div>
                </div>

                <div class="card-2">
                    <div class="project-card" id="four">
                        <div class="project-card-content">
                            <h1>Project Two</h1>
                            <p class="slogan">We are the leader in furniture</p>
                            <a href="" class="btn-project">View Project</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="cv" id="cv">
        <div class="container">
            <div class="cv-content">
                <h1 class="section-title">Curriculum Vitae</h1>
                <hr>
                <div class="row-one">
                    <div class="languageKnowledge">
                        <p>language</p>
                        <hr>
                        <div class="language">
                            <h4>HTML</h4>
                            <div class="fill"></div>
                        </div>
                    </div>
                    <div class="education">
                        <p>education</p>
                        <hr>

                    </div>
                </div>
            </div>
        </div>
    </section>

    <script src="js/main.js "></script>
    <script src="js/writing.js "></script>

</body>

</html>