* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto Slab', serif;
}

h1 {
    font-size: 60px;
    margin: 70px 0;
    text-align: center;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.edit {
    margin-bottom: 50px;
}

.edit form {
    width: 60%;
    margin: 0 auto;
}

.edit form input,
.edit form textarea,
.edit form input {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    font-family: 'Noto Sans', sans-serif;
    margin-bottom: 30px;
}

.btn-submit {
    padding: 14px 40px;
    font-size: 17px;
    border: none;
    background-color: rgba(103, 103, 253, 0.842);
    display: inline-block;
    color: white;
    text-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    transition: background-color .45s;
    cursor: pointer;
    border-radius: 5px;
    text-decoration: none;
}

.btn-submit:hover {
    background-color: rgba(84, 84, 223, 0.842);
}