@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.loader {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 5;
    display: flex;
}

.loaderBelow {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 4;
    display: flex;
}

.loader .side-left,
.loader .side-right {
    width: 50%;
}

.loaderBelow .side-left,
.loaderBelow .side-right {
    width: 50%;
}

.loader .loadingText {
    position: absolute;
    width: 100%;
    top: 45%;
    color: white;
    text-align: center;
    /* transform: translate(-50%, -50%); */
    font-size: 50px;
    -webkit-animation: rotate .6s linear infinite;
    -moz-animation: rotate .6s linear infinite;
    animation: rotate .6s linear infinite;
}

.loader .side-left .loader-one-up,
.loader .side-right .loader-two-up {
    width: 100%;
    height: 100%;
    background-color: rgb(39, 39, 39);
    z-index: 7;
}

.loaderBelow .side-left .loader-one-down,
.loaderBelow .side-right .loader-two-down {
    width: 100%;
    height: 100%;
    background-color: rgb(40, 55, 99);
    z-index: 6;
}

.loader-1 {
    animation: goLeftLoader 1s ease-in;
}

.loader-2 {
    animation: goLeftLoader 1s ease-in;
}

.loader-3 {
    animation: goRightLoader 1s ease-in;
}

.loader-4 {
    animation: goRightLoader 1s ease-in;
}

body {
    font-family: 'Roboto Slab', serif;
}


/* Navbar of the website */

nav {
    display: fixed;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}


/* .navAnimation {
    animation: navDown .1s ease-out;
} */

.container {
    width: 80%;
    margin: 0 auto;
}

.nav-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-Brand {
    width: 35%;
}

.nav-Brand h1 {
    font-size: 35px;
}

.menu-content {
    width: 65%;
    display: flex;
    justify-content: end;
    align-items: center;
}

.menu-content i {
    position: fixed;
    right: 10%;
    display: none;
    font-size: 40px;
    cursor: pointer;
    z-index: 3;
}

.menu-content .menu {
    list-style: none;
    display: flex;
}

.menu-content .menu li {
    font-size: 20px;
    margin-left: 40px;
}

.menu-content .menu li a {
    text-decoration: none;
    font-weight: bold;
    color: rgb(17, 17, 49);
}


/* line through menu items */

span {
    position: relative;
    display: block;
    cursor: pointer;
}

span:before,
span:after {
    content: '';
    position: absolute;
    width: 0%;
    height: 2.5px;
    top: 50%;
    margin-top: -0.5px;
    background: rgb(17, 17, 49);
}

span:before {
    left: -2.5px;
}

span:after {
    right: 2.5px;
    background: rgb(17, 17, 49);
    transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
}

span:hover:before {
    background: rgb(17, 17, 49);
    width: 100%;
    transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
}

span:hover:after {
    background: transparent;
    width: 100%;
    transition: 0s;
}


/* Nav dropdown */

.nav-dropdown {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0%;
    background-color: rgb(253, 253, 253);
    display: none;
    z-index: 2;
}

.getDown {
    animation: bobble .8s ease-out forwards;
}

.getUp {
    animation: upBobble .8s ease-out forwards;
}

.dropdown-menu {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
}

.dropdown-menu li {
    font-size: 40px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.dropdown-menu li a {
    text-decoration: none;
    display: inline-block;
    color: rgb(0, 0, 0);
}

.blueStuff {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0%;
    background-color: rgb(0, 0, 0);
    z-index: 1;
    display: none;
}

.getDownBlue {
    animation: bobble .65s ease-out forwards;
}

.getUpBlue {
    animation: upBobble .6s ease-out forwards;
}

.introWeb {
    margin-top: 20px;
}

.introWeb-content {
    display: flex;
    justify-content: space-between;
}

.introWeb-content .introduction,
.introWeb-content .image {
    width: 49%;
}

.introWeb-content .introduction {
    display: flex;
    align-items: center;
    font-size: 1.9vw;
}

.introWeb-content .introduction h1 {
    display: none;
}

.introWeb-content .introduction .typing-demo-one {
    display: block;
    width: 17ch;
    animation: typing 1s steps(17), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
}

.introWeb-content .introduction .typing-demo-two {
    display: block;
    width: 24.7ch;
    animation: typing 1s steps(24), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
}

.introWeb img {
    width: 100%;
    height: 100%;
}


/* Projects section */

.projects {
    margin-top: 160px;
}

.section-title {
    font-size: 40px;
    margin-bottom: 160px;
}

.projects .project-content .card {
    display: flex;
    margin-right: 200px;
    justify-content: center;
}

.projects .project-content .card-2 {
    display: flex;
    margin-left: 200px;
    justify-content: center;
}

.project-card {
    background-size: cover;
    width: 800px;
    height: 450px;
    margin-bottom: 100px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 4px;
    transition: box-shadow .45s ease-in-out;
}

.project-card:hover {
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

#one {
    background-image: url('../img/project-1.jpg');
}

#two {
    background-image: url('../img/project-2.jpg');
}

#three {
    background-image: url('../img/project-3.jpg');
}

#four {
    background-image: url('../img/project-4.jpg');
}

.project-card-content {
    background-color: rgba(39, 35, 35, 0.308);
    width: 100%;
    height: 100%;
    color: rgb(253, 245, 245);
    border-radius: 4px;
    position: relative;
    z-index: 1;
}

.project-card-content::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgb(0, 14, 36);
    background: linear-gradient(130deg, rgba(0, 14, 36, 0.63) 0%, rgba(48, 48, 133, 0.7315301120448179) 26%, rgba(26, 69, 158, 0.7483368347338936) 54%, rgba(0, 14, 36, 0.63) 100%);
    z-index: -1;
    clip-path: inset(0 100% 0 0);
    /* transform: scaleX(0); */
    transform-origin: left;
    /* transition: transform .45s ease-in-out; */
    transition: clip-path .45s ease-in-out;
    border-radius: 4px;
}

.project-card-content:hover::before,
.project-card-content:focus::before {
    /* transform: scaleX(1); */
    clip-path: inset(0 0 0 0);
}

.project-card-content:hover .btn-project {
    background-color: rgba(163, 163, 248, 0.842);
}

.project-card-content h1 {
    font-size: 40px;
    padding: 30px;
    text-shadow: -1px 0px 11px rgba(0, 0, 0, 0.23);
}

.project-card-content .slogan {
    padding: 10px 30px;
    font-style: italic;
    color: rgb(221, 216, 209);
    text-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.project-card-content .btn-project {
    margin: 30px 30px;
    padding: 10px 30px;
    padding-bottom: 10px;
    background-color: rgba(103, 103, 253, 0.842);
    border-radius: 50px;
    display: inline-block;
    color: white;
    text-decoration: none;
    text-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    transition: background-color .45s;
}


/* Animation */

@keyframes bobble {
    0% {
        opacity: 1;
        transform: translateY(-100%);
        transition: ease-out;
    }
    /* 40% {
        transform: translateY(-40%);
        transition: ease-out;
    }
    60% {
        opacity: 1;
        transform: translateY(-25%);
        transition: ease-out;
    } */
    100% {
        opacity: 1;
        transform: translateY(0%);
        transition: ease-out;
    }
}

@keyframes upBobble {
    0% {
        opacity: 1;
        transform: translateY(0%);
        transition: ease-out;
    }
    /* 40% {
        transform: translateY(-40%);
        transition: ease-out;
    }
    60% {
        opacity: 1;
        transform: translateY(-25%);
        transition: ease-out;
    } */
    100% {
        opacity: 1;
        transform: translateY(-100%);
        transition: ease-out;
    }
}

@keyframes typing {
    from {
        width: 0
    }
}

@keyframes blink {
    50% {
        border-color: transparent
    }
}

@-webkit-keyframes rotate {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@-moz-keyframes rotate {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes rotate {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes goLeftLoader {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-100%);
    }
}

@keyframes goRightLoader {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(100%);
    }
}

@keyframes navDown {
    0% {
        transform: translateY(-50px);
    }
    100% {
        transform: translateY(30px);
    }
}


/* Start of responsivness */

@media screen and (min-width: 1600px) {
    .introWeb-content .introduction {
        font-size: 30px;
    }
}

@media (max-width: 1535px) {
    .menu-content .menu li {
        font-size: 17px;
        margin-left: 25px;
    }
    .project-card {
        width: 700px;
        height: 350px;
    }
}

@media (max-width: 1224px) {
    .menu-content i {
        display: block;
    }
    .menu-content .menu {
        display: none;
    }
    .nav-Brand {
        width: 70%;
    }
    .menu-content {
        width: 30%;
    }
    .project-card {
        width: 650px;
        height: 325px;
    }
}

@media (max-width: 1151px) {
    .introWeb {
        margin-top: 130px;
    }
    .introWeb-content {
        display: block;
    }
    .introWeb-content .introduction {
        width: 100%;
    }
    .introWeb-content .image {
        width: 80%;
        margin: 0 auto;
    }
    .introWeb-content .introduction {
        display: flex;
        align-items: center;
        font-size: 4vw;
        margin-bottom: 50px;
    }
    .introWeb-content .introduction .introtext {
        margin: 0 auto;
    }
    .project-card {
        width: 600px;
        height: 300px;
    }
}

@media (max-width: 1024px) {
    .project-card {
        width: 500px;
        height: 300px;
    }
}


/* Mobile responsivness level */

@media (max-width: 759px) {
    .dropdown-menu li {
        font-size: 30px;
    }
    .project-card {
        height: 250px;
    }
    .project-card-content h1 {
        padding: 15px;
        font-size: 30px;
    }
    .project-card-content .slogan {
        padding: 10px 15px;
        font-size: 15px;
    }
    .project-card-content .btn-project {
        margin: 10px 15px;
        padding: 8px 25px;
    }
    .projects .project-content .card {
        margin-right: 100px;
    }
    .projects .project-content .card-2 {
        margin-left: 100px;
    }
}

@media (max-width: 579px) {
    .nav-Brand h1 {
        font-size: 30px;
    }
    .dropdown-menu li {
        font-size: 28px;
    }
    .project-card {
        height: 180px;
    }
    .project-card-content h1 {
        font-size: 20px;
        padding: 10px;
    }
    .project-card-content .slogan {
        padding: 10px 10px;
        font-size: 11px;
    }
}

@media (max-width: 500px) {
    .nav-Brand h1 {
        font-size: 25px;
    }
    .dropdown-menu li {
        font-size: 22px;
    }
    .project-card-content h1 {
        font-size: 20px;
        padding: 8px;
    }
    .project-card-content .slogan {
        padding: 8px 8px;
        font-size: 10px;
    }
    .project-card-content .btn-project {
        margin: 10px 8px;
        padding: 5px 15px;
        font-size: 15px;
    }
    .projects .project-content .card {
        margin-right: 50px;
    }
    .projects .project-content .card-2 {
        margin-left: 50px;
    }
}

@media (max-width: 400px) {
    .nav-Brand h1 {
        font-size: 21px;
    }
    .dropdown-menu li {
        font-size: 20px;
    }
}

@media (max-width: 350px) {
    .nav-Brand h1 {
        font-size: 18px;
    }
    .dropdown-menu li {
        font-size: 17px;
    }
}